<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="gopro_usb_cam">
    <param name="video_device" value="/dev/video42" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap" />
    <param name="camera_frame_id" value="gopro_camera" />
  </node>
</launch>


